<header class="flex justify-between align-center ">
  
  <div class="logo ">
    <span class="EBold">LOGO</span>
  </div>

  <div class="search flex align-center justify-between">
    <input type="text" placeholder="Search.."> 
    <div class=" search-btn btn primary flex align-center justify-center card-1">
        <i class="icon-search " style="margin:0;font-weight:bold"></i>
      </div>
  </div>

  <div class="nav flex justify-between align-center ">
    <a href="" class="link ">Donate</a>
    <a href="" class="link ">GET HELP</a>
    <a href="" class="btn btn-border bold text-primary">LOGIN</a>
  </div>

</header>

<div class="division"></div>
