body{
    background-color: white;
}
header{
    width: 99%;
    position:fixed;
    box-shadow: none;
    z-index: 1001;
}

header .logo{
    margin:10px;
}

header .btn{
    margin:10px;
    font-size: .8em;
}

section{
    height: 100vh;
    background-color: #fff;
}
.four{
    font-size: 200px;
    color:#e91e63;
}
.text{
    text-align: center;
    max-width: 300px;
    padding:0px 10px 40px;
    font-size: 20px;
}
section .btn{
    padding: 12px 25px;
    font-size: .8em;
}